:root{
  --color_orange-primary: hsl(25, 97%, 53%);
  --color_white: hsl(0, 0%, 100%);
  --color_grey-light: hsl(217, 12%, 63%);
  --color_grey-medium: hsl(216, 12%, 54%);
  --color_blue-dark: hsl(213, 19%, 18%);
  --color_blue-veryDark: hsl(216, 12%, 8%);
}

.color_orange-primary{
  color: hsl(25, 97%, 53%);
}

.color_white{
  color: hsl(0, 0%, 100%); 
} 

.color_grey-light{
  color: hsl(217, 12%, 63%); 
} 

.color_grey-medium{
  color: hsl(216, 12%, 54%); 
}

.color_blue-dark{
  color: hsl(213, 19%, 18%);
}

.color_blue-veryDark{
  color: hsl(216, 12%, 8%);
} 